<IfModule mod_mime.c>
    AddType application/javascript .mjs
</IfModule>

RewriteEngine On

# Set the project base path (in my case it's /web-dev-proj/)
RewriteBase /web-dev-proj/

# Do not send reqs to existing files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all reqs to index.html
RewriteRule ^ index.html [L]

# Remove the .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)/?$ $1.php [L]