<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- MIME for .mjs -->
    <staticContent>
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="Rewrite to index.html" stopProcessing="true">
          <match url="^(?!.*\.(css|js|mjs|jpg|jpeg|png|gif|svg|ico|woff|woff2|ttf|eot|otf|json|xml|txt|pdf|zip)$).*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>