@import url(./fonts/fonts.css);

:root {
  --nav-height: 45px;
  --pages-container-padding: 20px;
}
* {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  /* scrollbar-color: #050050 #407df0; */
}

*[data-link] {
  cursor: pointer;
}

body {
  margin: 0;
  background: white;
  background: linear-gradient(to bottom right, #01163b, #40619a);
  /* background: #fafafa; */
  /* background: #fffbf3; */
  /* background: #f8f8f8; */
}
::selection {
  background-color: #ffb833;
  color: #000000;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  width: 50px;
  height: 50px;
}
.go-to-top:hover {
  background: #095cb4;
}
.go-to-top:active {
  background: #0e3d6e;
}

#app {
  min-height: calc(100vh - var(--nav-height) - 32px);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  background: #1e293b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav div {
  color: #f9fafb;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

nav div::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 0.4s ease-in-out;
}

nav div:hover::before {
  left: 0;
}

nav div:hover {
  background: #0c143c;
}

nav div:active {
  background: #000000;
}

nav div span {
  position: relative;
  z-index: 1;
}

.nav-link.active {
  background-color: #1e4173;
  color: #fff;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  background: #ffd700;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #ffa500;
}

.flex-mg-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mt-40 {
  margin-top: 40px;
}

.cta {
  padding: 20px;
  font-size: 18px;
}

/* Index Page */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--nav-height) - 32px);
  text-align: center;
  /* background: linear-gradient(to bottom right, #1e3c72, #2a5298); */
  /* background: linear-gradient(to bottom right, #01163b, #40619a); */
  color: #fff;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #fff;
}

.tagline {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* About Page */

.about {
  color: #fff;
}

.about h2 {
  /* background: #f9f9f9; */
  text-align: center;
}

.about-container {
  padding: var(--pages-container-padding);
}
.about-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-container p {
  line-height: 1.8;
  max-width: 80%;
  margin: 0 auto;
}

/* Resume Page */
.resume {
  padding: var(--pages-container-padding);
  /* background: #fff; */
  text-align: center;
  color: white;
}

.resume-container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.resume-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  /* background: #f3ad4d; */
  background: #f9c74f;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  min-height: 350px;
  box-shadow: 0 4px 6px rgb(174 132 44 / 89%);
  color: black;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  background: #f3b03c;
  box-shadow: 0 4px 6px rgb(190 152 72 / 89%);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.card p,
.card ul {
  flex-grow: 1;
}

.card ul {
  list-style-type: none;
  padding: 0;
}
/* Contact Me Page */
.contact {
  padding: var(--pages-container-padding);
  /* background: #1e3c72; */
  color: #fff;
  text-align: center;
}

.contact-container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  margin: 0 18px;
  color: #ffd700;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-links a:hover {
  color: #ffa500;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact-form-button {
  margin-top: 25px;
  width: 350px;
}

@media screen and (max-width: 768px) {
  nav div {
    font-size: 0.9rem;
    padding: 10px;
  }

  .contact-form-button {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    width: 600px;
  }
}